body{
    background-color: rgb(239, 232, 232);
}
header{
    font-size: 40px;
}
p{
    display: inline;
}
.grizti{
    float: right;
    margin: 10px;
    color: blue;
}
.sukurti{
    font-size: 25px;
}
form{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    position: relative;
}
div{
    margin: 25px 30px 20px;
}
.mygtukas{
    height: 30px;
    width: 80px;
    background-color: rgb(79, 70, 70);
    color: white;
    margin: 20px 30px 30px;
    border-radius: 10px;
    border: none;
}
.mygtukas:hover {
    border:3px solid red;
    border-radius: 20px;
}
.pastas{
    background-color: rgb(244, 229, 229);
}
hr{
    position: absolute;
    width: 100%;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.x{
    float: right;
    font-size: 50px;
    margin: -3% 18.5% 0%;
    color: grey;
}
.pliusas{
    display: inline;
    width: 20px;
    height: 25px;
    background-color: grey;
    border: 2px solid black;
    color: white;
}

